{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Your Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body style="background-color: #EEEEEE;">
    <style>
        .icon{
            max-width: 140px;
            max-height:140px;
            margin: 0 auto;
    </style>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="col">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a href="{% url 'registraion_option' %}" class="btn btn-dark"><i class="fa-solid fa-circle-arrow-left">   back</i></a>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                  <div class="col-md-3">
                    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                      <div class="card-body">
                          <img class="icon rounded mx-auto d-block" src="{% static 'icon/computer.png' %}">
                            <h5 class="card-title text-center">Genarel Category</h5>
                            <p class="card-text text-center">Accountant, Project Manager, Engineer, Lecturer, Merchandiser.</p>
                            <div class="text-center">
                                <a href="{% url 'genarel-category' %}" class="btn btn-dark"><i class="fa-solid fa-circle-arrow-right">   Next</i></a>
                            </div>

                              <br>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                      <div class="card-body">
                        <img class="icon rounded mx-auto d-block" src="{% static 'icon/automobile.png' %}">
                        <h5 class="card-title text-center">Special Skilled Category</h5>
                        <p class="card-text text-center">Driver, Mechanic, Electrician, Nurse, Security Guard, Chef/Cook, Peon.</p>
                        <div class="text-center">
                                <a href="{% url 'special-skilled-category' %}" class="btn btn-dark"><i class="fa-solid fa-circle-arrow-right">   Next</i></a>
                            </div>
                              <br>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                      <div class="card-body">
                        <img class="icon rounded mx-auto d-block" src="{% static 'icon/wheels-chair.png' %}">
                        <h5 class="card-title text-center">For The Disabled</h5>
                        <p class="card-text text-center">Persons with disabilities can apply for desired jobs according to their qualifications and skills.</p>
                        <div class="text-center">
                                <a href="{% url 'autism-category' %}" class="btn btn-dark"><i class="fa-solid fa-circle-arrow-right">   Next</i></a>
                            </div>
                              <br>
                      </div>
                    </div>
                  </div>
                    <div class="col">

                    </div>
                </div>
            </div>

        </div>
    </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>